.body {
    background: rgba(0, 0, 0, 1);
    width: 1280px;
    height: 1217px;
    margin: 0 auto;
    position: relative;
    font-family: Inter;
    z-index: 1;
}

@media screen and (min-width: 320px) and (max-width: 680px) {
    .body {
        max-width: 680px;
    }
}
