.profile {
    color: white;
    Width: 880px;
    Height: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 200px;
}

@media screen and (min-width: 680px) and (max-width: 990px) {
    .profile {
        max-width: 990px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 680px) {
    .profile {
        display: block;
        grid-template-columns: 0fr;
        display: grid;
        justify-items: stretch;
        margin: 0 auto;
    }
}