.entrance {
    width: 430px;
    height: 330px;
    position: absolute;
    top: 195px;
    left: 425px;
    text-align: center;
    background: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    display: none;
}

.visible {
    /* opacity: 0; */
    transition: all .8s ease-in-out;
    display: block;
}

@media screen and (min-width: 798px) and (max-width: 990px) {
    .visible {
        left: 0;
        margin: 50px 270px;
    }
}

@media screen and (min-width: 320px) and (max-width: 798px) {
    .visible {
        left: 0;
        margin: 50px 120px;
    }
}