.profile__add-button {
    margin-left: 220px;
}

.profile__add-button:active {
    opacity: 0;
}

@media screen and (min-width:798px) and (max-width:990px) {
    .profile__add-button {
        opacity: 0;
    }
}

@media screen and (min-width:320px) and (max-width:798px) {
    .profile__add-button {
        opacity: 0;
    }
}

.profile__add-button-media {
    opacity: 0;
}

@media screen and (min-width:320px) and (max-width:798px) {
    .profile__add-button-media {
        width: 282px;
        height: 50px;
        opacity: 1;
    }
}