.profile__add-button {
    
}

.profile__add-button:active {
    /* animation-duration: 5s; */
    /* animation-timing-function: ease-in-out; */
    /* animation-iteration-count: infinite;
    rotate: 50deg;
    animation-delay: 3s; */
    opacity: 0;
}

@media screen and (min-width:320px) and (max-width:600px) {
    .profile__add-button {
        max-width: 600px;
        margin-right: 35px;
    }    
}